<div class="entity-search operacion-search">

    <div class="entity-search-field">
        <label jhiTranslate="userManagement.filters.name.label">Filtrar</label>
        <input class="form-control" [attr.aria-label]="'userManagement.filters.name.placeholder' | translate" placeholder="{{'userManagement.filters.name.placeholder' | translate}}"
            [(ngModel)]="filters.name" (keyup)="filter()" />
    </div>
    <div class="entity-search-field">
        <label jhiTranslate="userManagement.filters.rolShort.label">Filtrar</label>
        <ac-autocomplete-short-list name="rol" [(ngModel)]="filters.roles" [suggestions]="roles" (onSelect)="filter()" (onUnselect)="filter()"
        [placeholder]="'userManagement.filters.rolShort.placeholder' | translate" [properties]="['nombre']" [multiple]="true"></ac-autocomplete-short-list>
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="userManagement.filters.rolLong.label">Filtrar</label>
        <ac-autocomplete-long-list name="rol" [(ngModel)]="filters.roles" [suggestions]="roles" (onSelect)="filter()" (onUnselect)="filter()" 
        [placeholder]="'userManagement.filters.rolLong.placeholder' | translate" [properties]="['nombre']" (completeMethod)="completeMethodRoles($event)" [multiple]="true"></ac-autocomplete-long-list>
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="userManagement.home.includeDeleted">Include deleted</label>
        <ac-tri-input-switch [(ngModel)]="filters.includeDeleted" (onChange)="filter()"></ac-tri-input-switch>
    </div>

    <div class="entity-search-field-btn">
        <button class="btn btn-default" (click)="resetFilters();">
            <i class="fa fa-times"></i>
            <span jhiTranslate="entity.action.filtersReset">Reset</span>
        </button>
    </div>
</div>