<nav class="navbar-inverse fixed-top navbar-toggleable-lg jh-navbar d-flex justify-content-between">
    <div class="navbar-collapse">
        <a class="navbar-brand logo" routerLink="/">
            <img class="logo-img" src="~images/logo_istac.png" alt="Logo" />
            <span jhiTranslate="global.title" class="navbar-title">Arte_Application_Template</span>
            <span class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="d-flex justify-content-end">
        <div class="navbar-collapse collapse" id="navbarResponsive">
            <ul class="navbar-nav">
            </ul>
        </div>
    </div>
</nav>