<!-- FIXME: Eliminar referencias a la plantilla (com.arte.application.template, arte-application-template, etc...) -->
<nav class="navbar-inverse fixed-top navbar-toggleable-lg jh-navbar d-flex justify-content-between">
    <div class="navbar-collapse">
        <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
            <img class="logo-img" src="~images/logo-arte.png" alt="Logo" />
            <span jhiTranslate="global.title" class="navbar-title">Arte_Application_Template</span>
            <span class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="d-flex justify-content-end">
        <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
            <ul class="navbar-nav">
                <ng-container *ngTemplateOutlet="menuVideoteca"></ng-container>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li *ngIf="correctlyLogged()"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                        <span>
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.myAccount">My account</span>
                            </a>
                        </li>
                        <li *acHasAnyOperacion="['LEER:USUARIO']">
                            <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li *acHasAnyOperacion="['LEER:ROL']">
                            <a class="dropdown-item" routerLink="rol-management" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.rolManagement">Rol management</span>
                            </a>
                        </li>
                        <li *acHasAnyOperacion="['LEER:OPERACION']">
                            <a class="dropdown-item" routerLink="operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-key" aria-hidden="true"></i>
                                <span jhiTranslate="arteApplicationTemplateApp.operacion.menu.title">Operacion</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="hidden-xl-up">
            <a class="jh-navbar-toggler" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="navbar-nav navbar-toggleable" [ngSwitch]="isAuthenticated()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
            id="account-menu">
            <a *ngSwitchCase="true" class="nav-link" (click)="logout()" id="logout" [title]="'global.menu.account.logout' | translate">
                <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>
    