html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

body {
    margin-bottom: 170px;
    margin: 0;
}

footer.istac-footer {
    bottom: 0;
    height: 170px;
    position: absolute;
    width: 100%;
    color: white;
    box-sizing: border-box;
}

footer.istac-footer .footer-content {
    width: 100%;
    padding: 10px 36px;
    background-color: #59656E;
    min-height: 170px;
    justify-content: center;
}

footer.istac-footer .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer.istac-footer .flex-container-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer.istac-footer .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, max-content));
    flex-grow: 1;
    row-gap: 20px;
}

footer.istac-footer .grid-container .istac-logos div a:not(:last-child) {
    margin-right: 10px;
}

@media(min-width: 957px) {
    footer.istac-footer .grid-container .istac-contact {
        padding-right: 25px;
    }
    footer.istac-footer .grid-container .istac-logos {
        padding: 0 25px;
        border-left: white solid 5px;
    }
}

@media(min-width: 1292px) {
    footer.istac-footer .grid-container .istac-links {
        padding-left: 25px;
        border-left: white solid 5px;
    }
}

/* Inicio imágenes */
footer.istac-footer .footer-brand.logo .logo-img-50 {
    height: 50px;
}

footer.istac-footer .footer-brand.logo .logo-img-65 {
    height: 65px;
}
/* Fin imágenes */

/* Inicio Tabla del footer */
footer.istac-footer table {
    font-weight: 500;
}

footer.istac-footer table th {
    font-size: 12px;
    padding: 0.3rem 1.6rem 0.3rem 0;
}

footer.istac-footer table td {
    font-size: 10px;
    padding: 0.15rem 1.6rem 0.15rem 0;
}
/* Fin Tabla del footer */

/* Inicio zona de enlaces */
footer.istac-footer .istac-links a {
    color: white;
    font-size: 12px;
    font-weight: 500;
}
/* Fin zona de enlaces */

/* Inicio iconos sociales */
footer.istac-footer .social {
    padding: 20px 0;
}

footer.istac-footer .social a {
    height: 30px;
    width: 30px;
    display: flex;
}

footer.istac-footer .social a img {
    width: inherit;
}

footer.istac-footer .social a:not(:last-child) {
    margin-right: 10px;
}
/* Fin iconos sociales */