.collapse.show .nav-link,
.collapsing .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.istac-navbar {
    background-color: #008BD0;
    margin-bottom: 70px;
}

@media(max-width: 1199px) {
    .istac-navbar {
        margin-bottom: 50px;
    }
}

.istac-navbar .dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
    background-color: #008BD0;
}

.istac-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.istac-navbar ul.navbar-nav .nav-item {
    margin-left: 0.5rem;
    white-space: nowrap;
}

.istac-navbar ul.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
}

.istac-navbar ul.navbar-nav .nav-item .nav-link:hover {
    color: #e7e7e7;
}

.istac-navbar ul.navbar-nav .nav-item.active {
    background: #5A616D;
}

.istac-navbar ul.navbar-nav .nav-item:last-child {
    margin-right: 36px;
}

.istac-navbar a.nav-link {
    font-weight: 400;
    line-height: 50px;
}

@media(min-width: 1200px) {
    .istac-navbar a.nav-link.active {
        margin-left: -20px;
    }

    .istac-navbar a.nav-link.active::before {
        content: '\F0D8';
        font: normal normal normal 35px/1 FontAwesome;
        position: relative;
        bottom: -34px;
        left: 50%;
        color: white !important;
    }
}

.istac-navbar .istac-navbar-toggler {
    color: white !important;
    font-size: 1.5em;
    vertical-align: middle;
    display: inline-block;
}

.istac-navbar .istac-navbar-toggler:hover {
    color: #f8f8f8;
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

#account-menu.navbar-toggleable {
    align-items: unset;
}

#account-menu .nav-link {
    padding-right: 36px;
    padding-left: 1em;
    display: inline-block;
}

.istac-navbar .navbar-brand.logo {
    padding: 10px 36px 10px 36px;
}

@media(max-width: 1199px) {
    .navbar-brand.logo .logo-img {
        height: 30px;
    }

    .istac-navbar a.nav-link {
        line-height: 25px;
    }
}

@media(min-width: 1200px) {
    .navbar-brand.logo .logo-img {
        height: 50px;
    }
}

@media(max-width: 767px) {
    .istac-navbar .navbar-brand.logo,
    .istac-navbar .istac-navbar-toggler {
        padding: 10px;
    }
}

@media(min-width: 768px) {
    .istac-navbar .navbar-brand.logo,
    .istac-navbar .istac-navbar-toggler {
        padding: 10px 36px 10px 36px;
    }
}