@import '~scss/variables';

.title-bar {
    border-bottom: 2px solid $istac-grey-dark;
    
    padding-top: 15px;
    padding-bottom: 15px;

    margin-top: -$entity-header-height;
    margin-right: -$page-padding;
    margin-bottom: $entity-header-height;
    margin-left: -$page-padding;

    background-color: $white;

    h1 {
        display: inline;
        padding-left: $page-padding;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: $istac-grey-dark;
    }

    .content {
        display: initial;
        float: right;
        padding-right: $page-padding;
    }
}
