<!-- FIXME: Eliminar referencias a la plantilla (com.arte.application.template, arte-application-template, etc...) -->

<div class="entity-search operacion-search">

    <div class="entity-search-field">
        <label for="accion" jhiTranslate="arteApplicationTemplateApp.operacion.filters.accion.label">Acción</label>
        <input class="form-control" [attr.aria-label]="'arteApplicationTemplateApp.operacion.filters.accion.placeholder' | translate" placeholder="{{'arteApplicationTemplateApp.operacion.filters.accion.placeholder' | translate}}"
            id="accion" name="accion" [(ngModel)]="filters.accion" (keyup)="filter()" />
        <span class="icon-search icon-flueco-icon-buscar"></span>
    </div>

    <div class="entity-search-field">
        <label for="sujeto" jhiTranslate="arteApplicationTemplateApp.operacion.filters.sujeto.label">Sujeto</label>
        <input class="form-control" [attr.aria-label]="'arteApplicationTemplateApp.operacion.filters.sujeto.placeholder' | translate" placeholder="{{'arteApplicationTemplateApp.operacion.filters.sujeto.placeholder' | translate}}"
            [(ngModel)]="filters.sujeto" (keyup)="filter()" />
        <span class="icon-search icon-flueco-icon-buscar"></span>
    </div>

    <div class="entity-search-field-btn">
        <button class="btn btn-default" (click)="resetFilters();">
            <i class="fa fa-times"></i> 
            <span  jhiTranslate="entity.action.filtersReset">Reset</span>
        </button>
    </div>
</div>