<div class="contenido">
    <h2 class="tit_conten_1_col">Control de Errores</h2>
    <h3>Error 404 - Documento No Encontrado</h3>
    <p class="justificado">Lo sentimos, el Documento al que está intentado acceder no está disponible.
        Esto puede ocurrir por varios  motivos:</p>
    <ul>
        <li>El documento no existe en el Servidor del Gobierno de Canarias.</li>
        <li>El documento puede no estar disponible "Temporalmente".</li>
        <li>Ha introducido un URL incorrecto. Compruebe y asegúrese de que está bien escrito.</li>
    </ul>
    <p class="nota"><strong>Atención:</strong> Si desea informar, por favor, hágalo desde Contacto.</p>
</div>