@import '~scss/variables';

.footer-brand {
    &.logo {
        padding: $footer-padding-y $page-padding-right $footer-padding-y $page-padding-left;
        .logo-img {
            height: $footer-content-height;
        }
    }
}

.left {
    float: left;
    margin-right: 1rem;
    .logo-img {
        margin-right: $grid-gutter-width-base / 2;
    }
}

.right {
    float: right;
    margin-left: 1rem;
    .logo-img {
        margin-left: $grid-gutter-width-base / 2;
    }
}