<div class="entity" acMakeFixedRoom>
    <div class="entity-header">
        <h2>
            <span jhiTranslate="arteApplicationTemplateApp.pelicula.home.title"></span>
            <div>
                <button [disabled]="!filters.batchSelection.hasSelection()" class="btn btn-danger" (click)="delete()">
                    <span class="fa fa-times"></span>
                    <span *ngIf="allVisibleIdsAreSelected()" jhiTranslate="arteApplicationTemplateApp.pelicula.delete.all">
                        Eliminar todos
                    </span>
                    <span *ngIf="!allVisibleIdsAreSelected()" jhiTranslate="arteApplicationTemplateApp.pelicula.delete.selection" [translateValues]="{ n : filters.batchSelection.selectedIds.length  }">
                        Eliminar selección
                    </span>
                </button>
                <button class="btn btn-primary jh-create-entity create-acto-administrativo" [routerLink]="['../pelicula-new']">
                    <span class="fa fa-plus"></span>
                    <span jhiTranslate="arteApplicationTemplateApp.pelicula.home.createLabel">
                        Crear nueva película
                    </span>
                </button>
            </div>
        </h2>
        <ac-pelicula-search [filters]="filters"></ac-pelicula-search>
    </div>
    <ac-spinner *ngIf="!peliculas"></ac-spinner>
    <ng-container *ngIf="peliculas">
        <ng-container *ngIf="peliculas.length > 0;else emptyList">
            <div class="table-responsive">
                <table class="table table-hover" acStickyTableHeader>
                    <thead>
                        <span class="row-selector" (click)="$event.stopPropagation()">
                            <p-checkbox binary="true" [disabled]="isDeleting" (onChange)="toggleVisibleSelection()" [ngModel]="allVisibleIdsAreSelected()"></p-checkbox>
                        </span>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th style="width: 20%" jhiSortBy="titulo">
                                <span jhiTranslate="arteApplicationTemplateApp.pelicula.titulo.label"></span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th style="width: 10%" jhiSortBy="fechaEstreno">
                                <span jhiTranslate="arteApplicationTemplateApp.pelicula.fechaEstreno.label"></span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th style="width: 10%" jhiSortBy="idioma">
                                <span jhiTranslate="arteApplicationTemplateApp.pelicula.idioma.label"></span>
                                <span class="fa fa-sort"></span>
                            </th>
                            <th style="width: 10%">
                                <span jhiTranslate="arteApplicationTemplateApp.pelicula.categorias.label"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pelicula of peliculas ;trackBy: trackId" [routerLink]="['../pelicula', pelicula.id ]">
                            <td>
                                <span class="row-selector" (click)="$event.stopPropagation()">
                                    <p-checkbox name="batchSelection" [disabled]="isDeleting" [value]="pelicula.id" [(ngModel)]="filters.batchSelection.selectedIds"></p-checkbox>
                                </span>
                                {{pelicula.titulo}}
                            </td>
                            <td>{{pelicula.fechaEstreno | date: 'dd/MM/yyyy'}}</td>
                            <td>{{pelicula.idioma?pelicula.idioma.nombre:'Sin Idioma'}}</td>
                            <td>
                                <div *ngFor="let categoria of pelicula.categorias">
                                    <span class="badge badge-info">{{ categoria.nombre }}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                <ac-pagination [itemsPerPage]="itemsPerPage" (change)="changeItemsPerPage($event)"></ac-pagination>
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="transition()" [pageSize]="itemsPerPage"></ngb-pagination>
            </div>
        </ng-container>
        <ng-template #emptyList>
            <ac-entity-list-empty></ac-entity-list-empty>
        </ng-template>
    </ng-container>
</div>