<ac-side-menu [parent]="instance"></ac-side-menu>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="entity has-menu" #titlesContainer>
        <div>
            <h2>
                <div>
                    <button *ngIf="!isEditMode()" [routerLink]="['../../pelicula']" type="button" class="btn btn-secondary btn-frameless back-arrow" [attr.aria-label]="'entity.action.back' | translate">
                        <span class="fa fa-arrow-left"></span>
                    </button>
                    <span class="fa fa-video-camera"></span>
                    <span *ngIf="!pelicula.id" jhiTranslate="arteApplicationTemplateApp.pelicula.home.createLabel"></span>
                    <span *ngIf="pelicula.id">{{pelicula.titulo}}</span>
                </div>
                <div>
                    <ng-container *ngIf="isEditMode()">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                            <span class="fa fa-ban"></span>&nbsp;
                            <span jhiTranslate="entity.action.cancel"></span>
                        </button>
                        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <span class="fa fa-save"></span>&nbsp;
                            <span jhiTranslate="entity.action.save"></span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="pelicula.id && !isEditMode()">
                        <button class="btn btn-secondary jh-create-entity" [routerLink]="['../', pelicula.id, 'edit']" type="button">
                            <span class="fa fa-pencil"></span>&nbsp;
                            <span jhiTranslate="entity.action.edit"></span>
                        </button>
                        <button type="button" (click)="delete()" replaceUrl="true" class="btn btn-danger ">
                            <span class="fa fa-remove"></span>&nbsp;
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete"></span>
                        </button>
                    </ng-container>
                </div>
            </h2>
        </div>
        <fieldset [disabled]="!isEditMode()" >
            <h3>
                <span jhiTranslate="arteApplicationTemplateApp.pelicula.info.label"></span>
            </h3>
            <div class="entity-fields">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.pelicula.titulo.label" for="field_titulo"></label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo" [(ngModel)]="pelicula.titulo" required acAutofocus />
                    <div [hidden]="!(editForm.controls.titulo?.dirty && editForm.controls.titulo?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.titulo?.errors?.required" jhiTranslate="entity.validation.required">
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.pelicula.titulo.label" for="field_presupuesto"></label>
                    <ac-currency class="form-control" id="field_presupuesto" name="presupuesto" [(ngModel)]="pelicula.presupuesto" acAutofocus></ac-currency>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.pelicula.fechaEstreno.label" for="field_fechaEstreno"></label>
                    <ac-calendar class="form-control" name="fechaEstreno" [(ngModel)]="pelicula.fechaEstreno" [required]="true"  ></ac-calendar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.pelicula.idioma.label" for="field_idioma"></label>
                    <ac-autocomplete-short-list name="field_idioma" [(ngModel)]="pelicula.idioma" [suggestions]="idiomas"
                    [placeholder]="'arteApplicationTemplateApp.pelicula.idioma.placeholder' | translate" [required]="false" [properties]="['nombre']">
                    </ac-autocomplete-short-list>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.pelicula.categorias.label" for="field_categorias"></label>
                    <ac-autocomplete-short-list name="categorias" [(ngModel)]="pelicula.categorias" [suggestions]="categorias"
                    [placeholder]="'arteApplicationTemplateApp.pelicula.categorias.placeholder' | translate" [required]="true" [createNonFound]="true"
                    [properties]="['nombre']" [multiple]="true">
                    </ac-autocomplete-short-list>
                </div>
                <div class="form-group full-width">
                    <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.pelicula.descripcion.label" for="field_descripcion"></label>
                    <textarea [disabled]="!isEditMode()" class="form-control" name="descripcion" id="descripcion" [(ngModel)]="pelicula.descripcion"
                        maxLength="4000" required autosize #descripcionContainer></textarea>
                </div>
            </div>
        </fieldset>
        <fieldset [disabled]="!isEditMode()">
            <h3>
                <span jhiTranslate="arteApplicationTemplateApp.actor.home.title">Title</span>
            </h3>                
            <div class="entity-fields">
                <div class="form-group full-width">
                    <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.pelicula.reparto.label" for="field_actores"></label>
                    <ac-order-list class="form-control" name="actores" [(ngModel)]="pelicula.actores" [suggestions]="actores" [required]="true" 
                        [itemTemplate]="actorItemTemplate">
                    </ac-order-list>
                </div>
            </div>
        </fieldset>
        <fieldset [disabled]="isEditMode()">
            <div class="entity-fields">
                <div class="form-group full-width">
                    <ac-file-upload [title]="'arteApplicationTemplateApp.pelicula.documento.label' | translate" [url]="resourceUrl" (onUpload)="onDocumentoUpload($event)"
                        accept="image/*" [files]="pelicula.documento">

                        <ng-template let-file="file">
                            <button type="button" class="btn btn-sm" [title]="'arteApplicationTemplateApp.documento.delete.title' | translate"
                                (click)="deleteDocumento(file)" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-template>

                    </ac-file-upload>
                </div>
            </div>
        </fieldset>
    </div>
</form>
    