@import '~scss/variables';

:host {
    /deep/ jhi-title-bar {
        font-family: $font-family-sans-serif;
        @import '~scss/vendor/fontawesome';
        a {
            text-decoration: none;
            h1 {
                line-height: 1.1;
            }
        }
    }

    .metamac-container {
        margin-top: 50px;
        min-width: 760px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-right: 36px;
        padding-left: 36px;
      }
}