<form class="modal-permalink-config" novalidate>
    <div id="permalink-config-additional-fields"></div>
    <div {{#if thereIsTemporalDimension }} hidden {{/if}}>
        <fieldset>
            <label>{{ message "modal.permalinkConfig.label.version.group" }}</label>
            <p class="form-info" {{#if thereAreVersions }} hidden {{/if}}>{{ message "modal.permalinkConfig.info.noVersionUpdate" }}</p>
            <div class="vertical-radio-group" {{#unless thereAreVersions }} hidden {{/unless}}>
                <div class="radio-field">
                    <input type="radio" id="version-last" name="version" value="last" checked="checked">
                    <label for="version-last">{{ message "modal.permalinkConfig.label.version.last" }}</label>
                </div>
                <div class="radio-field">
                    <input type="radio" id="version-current" name="version" value="current">
                    <label for="version-current">{{ message "modal.permalinkConfig.label.version.current" }}</label>
                </div>
            </div>
        </fieldset>
        <div>
            <label>{{ message "modal.permalinkConfig.label.periods.group" }}</label>
            <p class="form-info" >{{ message "modal.permalinkConfig.info.noTemporalDimension" }}</p>
        </div>
    </div>
    <div {{#unless thereIsTemporalDimension }} hidden {{/unless}}>
        <fieldset>
            <label>{{ message "modal.permalinkConfig.label.data.group" }}</label>
            <div class="vertical-radio-group">
                <div class="radio-field">
                    <input type="radio" id="update-periods" name="periods" value="update" checked="checked">
                    <label for="update-periods">{{ message "modal.permalinkConfig.label.data.update" }}</label>
                </div>
                <div class="radio-field">
                    <input type="radio" id="selected-periods" name="periods" value="selected">
                    <label for="selected-periods">{{ message "modal.permalinkConfig.label.data.selected" }}</label>
                </div>
            </div>
        </fieldset>
        <fieldset id="update-periods-options">
            <label>{{ message "modal.permalinkConfig.label.periods.group" }}</label>
            <div class="vertical-radio-group">
            <div class="radio-field">
                <div class="input-related-radio">
                    <input type="radio" id="periods-all" name="data" value="all">
                    <label for="periods-all">{{ message "modal.permalinkConfig.label.periods.all" }}</label>
                </div>
            </div>
            <div class="radio-field">
                <div class="input-related-radio">
                    <input type="radio" id="periods-quantity" name="data" value="quantity">
                    <label for="periods-quantity">{{ message "modal.permalinkConfig.label.periods.quantity" }}</label>
                </div>
                <input id="periods-quantity-related-input" class="radio-related-input" type="number" min="1" disabled>
            </div>
            <div class="radio-field">
                <div class="input-related-radio">
                    <input type="radio" id="periods-date" name="data" value="date">
                    <label for="periods-date">{{ message "modal.permalinkConfig.label.periods.date" }}</label>
                </div>
                <select id="periods-date-related-input" class="radio-related-input" disabled>
                    {{#each dimensionCategories}}
                    <option value='{{this.id}}'>{{this.label}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        </fieldset>
        <fieldset id="selected-periods-options" hidden>
            <label>{{ message "modal.permalinkConfig.label.dataReview.group" }}</label>
            <div class="checkbox-field">
                <input type="checkbox" id="data-review-checkbox" {{#unless thereAreVersions }} hidden {{/unless}}>
                <label for="data-review-checkbox" {{#unless thereAreVersions }} hidden {{/unless}}>{{ message "modal.permalinkConfig.label.dataReview.update" }}</label>
            </div>
            <p class="form-info" {{#if thereAreVersions }} hidden {{/if}}>{{ message "modal.permalinkConfig.info.noVersionUpdate" }}</p>
        </fieldset>
    </div>

    <p id="permalink-config-error" class="form-error"></p>

    <div class="form-buttons">
        <button type="submit">{{ message "modal.permalinkConfig.button.submit" }}</button>
    </div>
</form>