{{#if menu}}
<div class="sidebar-menu">
    <ul>
        {{#each menuItems}}
        <li class="sidebar-menu-item" data-view-id="{{id}}"><a href="#"><i class="{{icon}}"></i>{{title}}</a></li>
        {{/each}}
    </ul>
</div>
{{/if}}

<div class="sidebar-sidebar {{menuClass}}">
    <div class="sidebar-sidebar-content"></div>
    <div class="sidebar-splitter">
        <i class="icon-separator"></i>        
    </div>
    <div class="sidebar-opener"></div>
</div>

<div class="sidebar-content {{menuClass}}">

</div>