.section {
    max-width: 600px;
	margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-top: 1rem;
}

ac-autocomplete-short-list /deep/ span.ui-autocomplete {
    width: 90%;
}

.first-loader {
    float: right;
}