<link href="//www.gobiernodecanarias.org/gcc/css/estilos.css" rel="stylesheet" type="text/css" media="screen" />
<link href="//www.gobiernodecanarias.org/gcc/css/imprime.css" rel="stylesheet" type="text/css" media="print" />
<link href="//www.gobiernodecanarias.org/gcc/css/voz.css" rel="stylesheet" type="text/css" media="aural" />
<link href="//www.gobiernodecanarias.org/gcc/img/favicon.ico" rel="shortcut icon" />

<style>
    #contenido {
        padding: 25px;
    }
</style>

<div id="contenido">
    <div id="cabecera">
        <h1>
            <a href="http://www.gobiernodecanarias.org/istacc" title="Página principal del Instituto Canario de Estadística (ISTAC) - Opciones de accesibilidad (tecla de acceso: i)"
                accesskey="i">Instituto Canario de Estadística</a>
        </h1>
    </div>

    <div id="bloq_interior">
        <div class="contenido">
            <div class="metamac-container" id="metamac-container">Cargando...</div>
        </div>
    </div>

    <div id="pie_istac" class="footer">
        <div class="izda">&copy; Gobierno de Canarias</div>
        <div class="dcha">
            <a href="http://opendefinition.org/okd/espanol/" height="13px" target=_blank>
                <img alt="Open Data" src="./open_data.png" />
            </a> |
            <a href="http://www.gobiernodecanarias.org/istac/aviso_legal.html" rel="license">Aviso Legal</a> |
            <a href="http://www.gobiernodecanarias.org/sugrec/">Sugerencias y Reclamaciones</a>
        </div>
    </div>
</div>