<!-- FIXME: Eliminar referencias a la plantilla (com.arte.application.template, arte-application-template, etc...) -->
<form name="editForm" role="form" novalidate #editForm="ngForm" *ngIf="operacion">
    <h2 id="myOperacionLabel">
        <div>
            <button type="button" routerLink="/operacion" class="btn btn-secondary btn-frameless back-arrow" [attr.aria-label]="'entity.action.back' | translate">
                        <span class="fa fa-arrow-left"></span>
                    </button>
            <i class="fa fa-fw fa-key" aria-hidden="true"></i>
            <span *ngIf="operacion.id">
                <span >{{operacion.accion}} - {{operacion.sujeto}}</span>
            </span>
        </div>
    </h2>

    <fieldset disabled>
        <div class="entity-fields">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.operacion.accion" for="field_accion">Accion</label>
                <input type="text" class="form-control" name="accion" id="field_accion" [(ngModel)]="operacion.accion" required acAutofocus />
                <div [hidden]="!(editForm.controls.accion?.dirty && editForm.controls.accion?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.accion?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="arteApplicationTemplateApp.operacion.sujeto" for="field_sujeto">Sujeto</label>
                <input type="text" class="form-control" name="sujeto" id="field_sujeto" [(ngModel)]="operacion.sujeto" required />
                <div [hidden]="!(editForm.controls.sujeto?.dirty && editForm.controls.sujeto?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.sujeto?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label jhiTranslate="arteApplicationTemplateApp.operacion.roles.roles">Roles</label>
                <ac-autocomplete-short-list name="rol" [(ngModel)]="roles" [suggestions]="roles" [properties]="['nombre']" [multiple]="true"></ac-autocomplete-short-list>
            </div>
        </div>
    </fieldset>

</form>