<form name="lugarForm" role="form" novalidate (ngSubmit)="transition()">

    <fieldset>
        <h3 jhiTranslate="lugar.header">¿De qué lugar deseas conocer su evolución en materia electoral?</h3>

        <div class="entity-fields">
            <div class="form-group">
                <ac-autocomplete-short-list name="lugar" [(ngModel)]="lugar" [suggestions]="lugares" [properties]="['nombre']"></ac-autocomplete-short-list>
            </div>
        </div>

        <button type="submit" [disabled]="!lugar" class="btn btn-primary">
            <span jhiTranslate="lugar.continuar">continuar</span>
        </button>
    </fieldset>

</form>