.section {
    max-width: 1200px;
	margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.seleccion-territorio {
    margin-bottom: 2rem;
    text-align: center;
}

.first-loader {
    margin-left: 47%;
    margin-top: 0.7rem;
}

ac-autocomplete-short-list {
    /deep/ span {
        max-width: 400px;
    }
}

.selector-indicador {
    text-align: center;

    input:not(:first-child) {
        margin-left: 1rem;
    }
}

.grid-procesos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.proceso-electoral {
    margin: auto;
}

.proceso-electoral {
    margin-bottom: 2rem;
}

.proceso-electoral td {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.titulo-tabla {
    border-bottom: 1px solid;
}

.download {
    text-align: center;
}