<div class="section">

    <div class="titulo-pagina">
        <h1 jhiTranslate="evolucionElectoral.header">Historia de la evolución electoral en</h1>
        <ac-autocomplete-short-list name="lugar" [(ngModel)]="lugar" [suggestions]="lugares" [properties]="['nombre']" [disabled]="!lugares"
            (onSelect)="transition()"></ac-autocomplete-short-list>
        <div *ngIf="!lugares" class="loader first-loader"></div>
    </div>

    <ngb-accordion [closeOthers]="true" activeIds="panel-id-0" *ngIf="tiposEleccion">
        <ngb-panel *ngFor="let tipo of tiposEleccion; index as i" id="panel-id-{{i}}">
            <ng-template ngbPanelTitle>
                <span jhiTranslate="evolucionElectoral.tipoEleccion.{{tipo}}"></span>
            </ng-template>

            <ng-template ngbPanelContent>
                <ac-stacked-bar-chart [data]="graficasPorTipo[tipo]" [isPercentaje]="indicadoresPorTipo[tipo]"></ac-stacked-bar-chart>

                <div class="selector-indicador">
                    <input id="absoluto-{{i}}" type="radio" name="indicadoresEnPorcentajes" [value]="false" [(ngModel)]="indicadoresPorTipo[tipo]" (change)="onChangeIndicador(tipo)">
                    <label for="absoluto-{{i}}" jhiTranslate="evolucionElectoral.indicador.absoluto">Num Total</label>
                    <input id="porcentaje-{{i}}" type="radio" name="indicadoresEnPorcentajes" [value]="true" [(ngModel)]="indicadoresPorTipo[tipo]" (change)="onChangeIndicador(tipo)">
                    <label for="porcentaje-{{i}}" jhiTranslate="evolucionElectoral.indicador.porcentaje">Porcentaje</label>
                </div>

                <div *ngFor="let proceso of procesosPorTipo[tipo]" class="proceso-electoral">
                    <div class="titulo-tabla">
                        <a [routerLink]="['/visualizer', lugar.id, proceso.id]">{{proceso.fechaEleccion | date: 'yyyy'}}</a>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.CENSO_ESCRUTINIO"></span></td>
                                <td>{{proceso.indicadores['CENSO_ESCRUTINIO'] | number:'1.0-0'}}</td>
                            </tr>
                            <tr>
                                <td>&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.ABSTENCION"></span></td>
                                <td>{{proceso.indicadores['ABSTENCION'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['ABSTENCION_PORCENTAJE'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTANTES_TOTAL"></span></td>
                                <td>{{proceso.indicadores['VOTANTES_TOTAL'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['VOTANTES_PORCENTAJE'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTOS_VALIDOS"></span></td>
                                <td>{{proceso.indicadores['VOTOS_VALIDOS'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['VOTOS_VALIDOS_PORCENTAJE'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.PAPELETAS_TOTAL"></span></td>
                                <td>{{proceso.indicadores['PAPELETAS_TOTAL'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['PAPELETAS_PORCENTAJE'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTOS_BLANCOS"></span></td>
                                <td>{{proceso.indicadores['VOTOS_BLANCOS'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['VOTOS_BLANCOS_PORCENTAJE'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTOS_NULOS"></span></td>
                                <td>{{proceso.indicadores['VOTOS_NULOS'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['VOTOS_NULOS_PORCENTAJE'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

</div>