<jhi-title-bar>
    <ac-autocomplete-short-list *ngIf="lugar" name="lugar" [(ngModel)]="lugar" [suggestions]="lugares" [properties]="['nombreConGranularidad']" [disabled]="!lugares" (onSelect)="transition()"></ac-autocomplete-short-list>
</jhi-title-bar>

<div class="section">

    <h1 *ngIf="lugar" jhiTranslate="evolucionElectoral.header" [translateValues]="{territorio: lugar.nombre}">Historia de la evolución electoral en</h1>

    <div *ngIf="!tiposEleccion" class="seleccion-territorio">
        <div class="loader first-loader"></div>
    </div>

    <ngb-tabset *ngIf="tiposEleccion" [justify]="'center'">
        <ngb-tab *ngFor="let tipo of tiposEleccion; index as i">
            <ng-template ngbTabTitle>
                <span jhiTranslate="evolucionElectoral.tipoEleccion.{{tipo}}"></span>
            </ng-template>

            <ng-template ngbTabContent>
                <div class="barra-comandos">
                    <div class="selector-grafica">
                        <input id="votos-{{i}}" type="radio" name="tipoGrafica" [value]="false" [(ngModel)]="hashIndicadoresEnPorcentaje[tipo]" (change)="onChangeIndicador(tipo)">
                        <label for="votos-{{i}}" jhiTranslate="evolucionElectoral.indicador.votos">Votos</label>
                        <input id="participacion-{{i}}" type="radio" name="tipoGrafica" [value]="true" [(ngModel)]="hashIndicadoresEnPorcentaje[tipo]" (change)="onChangeIndicador(tipo)">
                        <label for="participacion-{{i}}" jhiTranslate="evolucionElectoral.indicador.participacion">Participacion</label>
                    </div>

                    <button type="button" class="btn btn-sm btn-secondary" [title]="'evolucionElectoral.descargarPdf' | translate" (click)="descargarPdf($event, tipo)">
                        <i class="fa fa-download"></i>
                        <span jhiTranslate="evolucionElectoral.descargarPdf">Descargar PDF</span>
                    </button>
                </div>

                <ac-stacked-bar-chart [data]="hashGraficas[tipo]" [isPercentaje]="hashIndicadoresEnPorcentaje[tipo]"></ac-stacked-bar-chart>

                <div class="grid-procesos">
                    <table *ngFor="let proceso of hashProcesos[tipo].slice().reverse()" class="proceso-electoral">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <!-- <a [routerLink]="['/visualizer', lugar.id, proceso.id]">{{proceso.fechaEleccion | date: 'yyyy'}}</a> -->
                                    {{proceso.fechaEleccion | date: 'yyyy'}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.ELECTORES"></span></td>
                                <td>{{proceso.indicadores['ELECTORES'] | number:'1.0-0'}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.ELECTORES_VOTANTES"></span></td>
                                <td>{{proceso.indicadores['ELECTORES_VOTANTES'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['TASA_PARTICIPACION'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.ELECTORES_ABSTENIDOS"></span></td>
                                <td>{{proceso.indicadores['ELECTORES_ABSTENIDOS'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['TASA_ABSTENCION'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTOS"></span></td>
                                <td>{{proceso.indicadores['VOTOS'] | number:'1.0-0'}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTOS_VALIDOS"></span></td>
                                <td>{{proceso.indicadores['VOTOS_VALIDOS'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['TASA_VOTOS_VALIDOS'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTOS_VALIDOS_CANDIDATURA"></span></td>
                                <td>{{proceso.indicadores['VOTOS_VALIDOS_CANDIDATURA'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['TASA_VOTOS_VALIDOS_CANDIDATURA'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTOS_VALIDOS_BLANCO"></span></td>
                                <td>{{proceso.indicadores['VOTOS_VALIDOS_BLANCO'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['TASA_VOTOS_VALIDOS_BLANCO'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&#45;&nbsp;<span jhiTranslate="evolucionElectoral.indicador.VOTOS_NULOS"></span></td>
                                <td>{{proceso.indicadores['VOTOS_NULOS'] | number:'1.0-0'}}</td>
                                <td>{{proceso.indicadores['TASA_VOTOS_NULOS'] | number:'1.1-2'}}&#37;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>