.section {
    max-width: 1200px;
	margin: 0 auto;
}

.titulo-pagina {
    margin-bottom: 2rem;
}

h1 {
    display: inline-block;
    margin-bottom: 0rem;
    margin-right: 0.3rem;
}

ac-autocomplete-short-list {
    display: inline-block;
}

.selector-indicador {
    text-align: center;

    input:not(:first-child) {
        margin-left: 1rem;
    }
}

.grid-procesos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.proceso-electoral {
    margin: auto;
}

.proceso-electoral {
    margin-bottom: 2rem;
}

.proceso-electoral td {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.titulo-tabla {
    border-bottom: 1px solid;
}

.download {
    text-align: center;
}